.carousel {
  width: 80vw;
  height: 70vh;
  border: 1px solid #fff;
  padding: 2rem;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.c-title,
.c-desc,
.a-name,
.a-desc {
  color: #fff;
}

.c-title h1 {
  position: relative;
  font-size: 4rem;
  margin-bottom: 0.5em;
}

.c-title-class {
  position: absolute;
  display: block;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.15em;
  left: 0;
  bottom: -1rem;
}

.c-desc {
  margin: 1rem 0;
}

.abilities {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.ability {
  display: grid;
  grid-template-columns: 0.5fr 1fr 6fr;
  grid-template-rows: repeat(4, 1.5rem);
  row-gap: 0.5rem;
  text-align: justify;
  place-items: center;
}

.a-icon {
  width: 4rem;
  height: 4rem;
  background-color: rgb(34, 34, 34);
  border-radius: 50%;
}

.a-name {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-style: italic;
}
